[submodule "damacs/extensions/doom-themes"]
	path = damacs/extensions/doom-themes
	url = https://github.com/doomemacs/themes.git
	shallow = true
[submodule "damacs/extensions/doom-modeline"]
	path = damacs/extensions/doom-modeline
	url = https://github.com/seagle0128/doom-modeline.git
	shallow = true
[submodule "damacs/extensions/nerd-icons"]
	path = damacs/extensions/nerd-icons
	url = https://github.com/rainstormstudio/nerd-icons.el.git
	shallow = true
[submodule "damacs/extensions/dash"]
	path = damacs/extensions/dash
	url = https://github.com/magnars/dash.el.git
	shallow = true
[submodule "damacs/extensions/s"]
	path = damacs/extensions/s
	url = https://github.com/magnars/s.el.git
	shallow = true
[submodule "damacs/extensions/f"]
	path = damacs/extensions/f
	url = https://github.com/rejeep/f.el.git
	shallow = true
[submodule "damacs/extensions/shrink-path"]
	path = damacs/extensions/shrink-path
	url = https://github.com/zbelial/shrink-path.el.git
	shallow = true
[submodule "damacs/extensions/emacs-which-key"]
	path = damacs/extensions/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
	shallow = true
[submodule "damacs/extensions/which-key-posframe"]
	path = damacs/extensions/which-key-posframe
	url = https://github.com/yanghaoxie/which-key-posframe.git
	shallow = true
[submodule "damacs/extensions/posframe"]
	path = damacs/extensions/posframe
	url = https://github.com/tumashu/posframe.git
	shallow = true
[submodule "damacs/extensions/ace-window"]
	path = damacs/extensions/ace-window
	url = https://github.com/abo-abo/ace-window.git
	shallow = true
[submodule "damacs/extensions/avy"]
	path = damacs/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "damacs/extensions/emacs-application-framework"]
	path = damacs/extensions/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
	shallow = true
	branch = master
[submodule "damacs/extensions/exec-path-from-shell"]
	path = damacs/extensions/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
	shallow = true
[submodule "damacs/extensions/vertico"]
	path = damacs/extensions/vertico
	url = https://github.com/minad/vertico.git
	shallow = true
[submodule "damacs/extensions/orderless"]
	path = damacs/extensions/orderless
	url = https://github.com/oantolin/orderless.git
	shallow = true
[submodule "damacs/extensions/marginalia"]
	path = damacs/extensions/marginalia
	url = https://github.com/minad/marginalia.git
	shallow = true
[submodule "damacs/extensions/embark"]
	path = damacs/extensions/embark
	url = https://github.com/oantolin/embark.git
	shallow = true
